fhir.base.template
hl7.base.template
hl7.fhir.au.base
hl7.fhir.template
hl7.fhir.us.core
hl7.fhir.us.ecr
hl7.fhir.uv.ips
hl7.fhir.uv.sdc
ihe.mhd.fhir
/records/fhir.base.template-current-qa.html
/records/fhir.base.template-current-qa.json
/records/hl7.base.template-current-qa.html
/records/hl7.base.template-current-qa.json
/records/hl7.fhir.au.base-current-qa.html
/records/hl7.fhir.au.base-current-qa.json
/records/hl7.fhir.au.base-current-qa.txt
/records/hl7.fhir.template-current-qa.html
/records/hl7.fhir.template-current-qa.json
/records/hl7.fhir.us.core-current-qa.html
/records/hl7.fhir.us.core-current-qa.json
/records/hl7.fhir.us.core-current-qa.txt
/records/hl7.fhir.us.ecr-current-qa.html
/records/hl7.fhir.us.ecr-current-qa.json
/records/hl7.fhir.us.ecr-current-qa.txt
/records/hl7.fhir.uv.ips-current-qa.html
/records/hl7.fhir.uv.ips-current-qa.json
/records/hl7.fhir.uv.ips-current-qa.txt
/records/hl7.fhir.uv.sdc-current-qa.html
/records/hl7.fhir.uv.sdc-current-qa.json
/records/hl7.fhir.uv.sdc-current-qa.txt
/records/ihe.mhd.fhir-current-qa.html
/records/ihe.mhd.fhir-current-qa.json
/records/ihe.mhd.fhir-current-qa.txt
